<%- contentFor('main') %>


<section id="recent-works">
    <div class="container">
        Hello <%= ids.name %>
        <iframe src="<%= ids.url %>" style="width:1000px;height:300px">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
</section><!--/#recent-works-->


